*{
    margin: auto;
    padding: auto;
    /* background-color: whitesmoke; */
    /* scroll-behavior: smooth; */
}
html{
    scroll-behavior: ease-in-out;
}
.head{
    height: 150px;
}

.heading{
    height: 100px;
    background-color: rgb(0, 255, 242);
    margin-top: 8px;
    font-size: 40px;
    font-style: serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-group li a{
    text-decoration: none;
    color: black;
    /* width: 100px; */
}
.list-group ul li{
    width: 100px;
}
.video{
    display: flex;
    justify-content: space-evenly;
}
img{
    height: 327px;
    width: auto;
    margin-top: 10px;
    margin-right: 5px;
}
.logo{
    position: relative;
    left: -20px;
    bottom: 100px;
}
span.slogen{
    font-size: 30px;
    position: relative;
    top: 60px;
    font-style: bold;
}
.head{
    display: flex;
    background-color: aliceblue;
}
.quate{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-style: bold;
}
.discription{
    height: 600px;
    /* width: 100vw; */
    background: url("munici.webp");
    background-color: gray;
    background-size: cover;
    background-color: rgba(12, 12, 12, 0.452);
    /* opacity: 0.6; */
}
.discription h1{
    font-size: calc(7.300rem + 0.5vw);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    position: relative;
    /* z-index: 1; */
    /* height: 400px; */
    left: 30px;
    bottom: 600px;
}
.bg{
    height: 600px;
    background-color: rgba(0, 0, 0, 0.596);
    position: relative;
    /* z-index: 0; */
    
}
.discription h3{
    position: relative;
    bottom: 600px;
    color: white;
    font-size: 30px;
    left: 35px;
    font-family: 'Times New Roman', Times, serif;
}
.discription .joinus{
    height: 66px;
    width: 200px;
    position: relative;
    bottom: 550px;
    left: 35px;
    border-radius: 20px;
    background-color:cadetblue;
    color: white;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.aboutcompany{
    height: 500px;
    background:darkcyan;
}
.aboutcompany h1{
    color: white;
    position: relative;
    top: 20px;
    left: 30px;
    font-size: 50px;
    font-family: monospace;
}
.aboutcompany .p1{
    position: relative;
    left: 30px;
    top: 30px;
    color: white;
    font-size: 20px;
}
.aboutcompany .p2{
    width: 50%;
    color: white;
    position: relative;
    right: 300px;
    top: 30px;
    font-size: 20px;
}
.aboutcompany .photo{
    height: 400px;
    width: 550px;
    position: relative;
    left: 750px;
    bottom: 300px;
    border-radius: 10px;
    transition: ease-in-out;
}
.ourservices{
    height: 600px;
    width: auto;
    background-color:darkslategray;
}
.ourservices h1{
    color: white;
    position: relative;
    top: 20px;
    left: 30px;
    font-size: 50px;
    font-family: monospace;
}
.ourservices .imgs{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-evenly;
}
.ourservices .img{
    margin-top: 50px;
    border-radius: 10px;
    width: 356px;
    /* margin-left: 85px; */
    margin-right: 60px;
}
.box1{
    height: 327px;
    width: 357px;
    background-color: rgba(0, 0, 0, 0.692) ;
    position: relative;
    bottom: 327px;
    right: 15.5px;
    border-radius: 10px;
}
.box1 h3{
    font-size: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1 .p2{
    display: none;
    font-size: medium;
    margin-top: 50px;
    color: white;
    text-align: center;
    transition: 1s;
}
.box1:hover .p2{
    display: inline-block; 
    transition: 1s;
}
